# Deluge config

VPN_ENABLED="yes"
VPN_USER="some-user"
VPN_PASS="some-pass"
VPN_PROV="pia"

# If you have trouble connecting to the VPN, flip this:
STRICT_PORT_FORWARDING="yes"

LAN_CIDR="192.168.1.0/24"

# Comma seprated list of DNS IPs
DNS_SERVERS="209.222.18.222,84.200.69.80,37.235.1.174,1.1.1.1,209.222.18.218,37.235.1.177,84.200.70.40,1.0.0.1"
